section#contact-info {
	font-size: 0.8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.workitem {
	font-size: 0.8em;
}

section#contact-info > p {
	font-weight: bold;
	font-family: arial;
}